@model CarAuction2.Models.Car.Mark

@{
    ViewBag.Title = "Add a mark";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("AddMark", "Panel", FormMethod.Post))
{
    if (ViewBag.FailureMessage != null)
    {
        @ValidationExtensions.ValidationSummary(Html, false, @ViewBag.FailureMessage, new {@class = "alert alert-danger"})
    }
    <div id="SuccessMessage" class="alert alert-success" style="display:none;">
        <h4 class="alert-heading">Well done!</h4>
        Your successfully added the car mark
        <hr />
        You can @Html.ActionLink("add models", "AddModel", "Panel") to your car
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>
    <button id="AddMarkButton" class="btn btn-primary" type="button">Add a mark</button>
    <script>

        $(function() {
            $("#AddMarkButton").click(function(e) {

                var jsonObject = {
                    "Name": $("#Name").val(),
                };
                $.ajax({
                    url: "@Url.Action("AddMark")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function(response) {
                        console.log("target error");
                        var r = $.parseJSON(response);
                        console.log(r);
                    },
                    success: function(response) {
                        var r = $.parseJSON(response);
                        if (r == true) {
                            $("#SuccessMessage").show();
                        } else {
                            // Todo validation
                            console.log("Failure");
                        }
                    }
                });
            });
        });

    </script>
}