@model CarAuction2.Models.Car.Car

@{
    ViewBag.Title = "Add a car";
}

<h2>Add a car</h2>
@using (Html.BeginForm("Add", "Car", FormMethod.Post))
{
    if (ViewBag.FailureMessage != null)
    {
        @ValidationExtensions.ValidationSummary(Html, false, @ViewBag.FailureMessage, new {@class = "alert alert-danger"})
    }
    <div id="SuccessMessage" class="alert alert-success" style="display: none;">
        <h4 class="alert-heading">Well done!</h4>
        Your car has been successfully published
        <hr />
        When someone make an offer we will send you a notification
    </div>
    <div class="form-group">
        @Html.Label("Mark")
        @Html.DropDownList(
            "Mark",
            new SelectList(ViewBag.Marks, "MarkId", "Name"),
            "Select a mark",
            new {id = "MarkId", @class = "form-control"})
    </div>
    <div class="form-group" style="display: none;">
        @Html.LabelFor(m => m.Model)
        @Html.DropDownListFor(
            m => m.ModelId,
            new SelectList(ViewBag.Models, "ModelId", "Name"),
            "Select a model",
            new {id = "ModelId", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProductionYear)
        @Html.TextBoxFor(m => m.ProductionYear, new {@class = "form-control", type="number"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CarStatus)
        @Html.EnumDropDownListFor(m => m.CarStatus, new {@class = "form-control"})
    </div>
    <button id="AddCarButton" class="btn btn-primary" type="button">Add a car</button>
    <script>

        $(function() {
            $("#AddCarButton").click(function(e) {

                var jsonObject = {
                    "ModelId": $("#ModelId").val(),
                    "ProductionYear": $("#ProductionYear").val(),
                    "CarStatus": $("#CarStatus").val()
                };

                $.ajax({
                    url: "@Url.Action("Add")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function(response) {
                        var r = $.parseJSON(response);
                        console.log(r);
                    },
                    success: function(response) {
                        var r = $.parseJSON(response);
                        if (r == true) {
                            $("#SuccessMessage").show();
                        } else {
                            console.log("Failure");
                        }
                    }
                });
            });
        });

    </script>
    @Scripts.Render("~/bundles/afterload.js")
}