@model CarAuction2.Models.Car.Model;

@{
    ViewBag.Title = "Add a mark";
}

<h2>Add a car</h2>
@using (Html.BeginForm("AddMark", "Car", FormMethod.Post))
{
    if (ViewBag.FailureMessage != null)
    {
        @ValidationExtensions.ValidationSummary(Html, false, @ViewBag.FailureMessage, new {@class = "alert alert-danger"})
    }
    <div id="#SuccessMessage" class="alert alert-success" display:none;>
        <h4 class="alert-heading">Well done!</h4>
        Your successfully added the car model
        <hr />
        You can go back to @Html.ActionLink("panel", "Index", "Panel")
    </div>
    <div class="form-group">
        @Html.Label("Mark")
        @Html.DropDownList(
            "Continent",
            new SelectList(ViewBag.Marks, "MarkId", "Name"),
            "Select a mark",
            new {id = "MarkId", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>
    <button id="AddCarButton" class="btn btn-primary" type="button">Add a car</button>
    <script>

        $(function() {
            $("#AddCarButton").click(function(e) {

                var jsonObject = {
                    "Name": $("#Name").val(),
                };

                $.ajax({
                    url: "@Url.Action("AddMark")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function(response) {
                        var r = $.parseJSON(response);
                        console.log(r);
                    },
                    success: function(response) {
                        var r = $.parseJSON(response);
                        if (r == true) {
                            $("#SuccessMessage").show();
                        } else {
                            console.log("Failure");
                        }
                    }
                });
            });
        });

    </script>
}